<header>
  <div class="container">
    <div class="nav-container">
      <a href="./index.html" class="site-logo"
        ><img src="./images/header/logo.svg" alt="site logo"
      /></a>
      <nav>
        <ul class="site-nav">
          <li class="site-nav__item">
            <a href="" class="site-nav__link site-nav__link--active">Home</a>
          </li>
          <li class="site-nav__item">
            <button type="button" class="login-btn">Log in</button>
          </li>
          <li class="site-nav__item">
            <button type="button" class="signup-btn">Sign up</button>
          </li>
          <li class="site-nav__item">
            <a href="" class="site-nav__link site-nav__link--library"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <input type="text" placeholder="Movie search" class="user-input" />
  </div>
</header>
